@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&family=Mr+Dafoe&display=swap');
header {
/*   background-color: green; */
  height: 10vh;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #A4A4A6;
}

#nav-bar {
/*   background-color: green; */
  width:100%;
  display: flex;
}
#nav-bar ul {
  display: flex;
  list-style: none;
}

#nav-bar ul li {
  line-height: 25px;
  margin-left: 25px;
  font-size: 16px;
}

#nav-bar ul li a:not(.logo) {
  color: black;
  text-decoration: none;
}
.logo {
  font-family: 'Mr Dafoe', cursive;
  font-size: 40px;
  margin:0 50px;
  color: skyblue;
  line-height: 10px;
}

.right {
  width: 100%;
  font-size: 20px;
  display:flex;
  justify-content: flex-end;
  align-items: center;

}






i {
  color: black;
  margin-right: 150px;

}

i.fa-user {
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
}

main{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;

}
.picture {
  width: 50%;
}
.picture img {
  width: 80%;
  margin-left: 50px;
  border-radius: 20px;
  border: 2px solid gray;
}

.desc {
  width:50%;
  height:43vh;
}

.desc>.paragraph-desc {
  font-size: 18px;
  font-style: italic;
  letter-spacing: 0.2rem;
  color: skyblue;
}

.desc h2 {
  letter-spacing: 0.2rem;
  font-size: 30px;
}

.desc > p {
  font-style: italic;
  color: #A4A4A6;
}

span.price {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.1rem
}

.original-price {
  position: absolute;
  top: 610px;
  right: 640px;
  margin-top: 5px;
  text-decoration: line-through;
  color: #A4A4A6;
}

span.discount {
  position:relative;
  bottom: 10px;
  left: 15px;
  color: skyblue;

}

.button {
  margin-top: 30px;
  height: 5vh;
}

.purchase{
  width: 200px;
  height: 40px;
  border: none;
  background-color: skyblue;
  font-size: 20px;
  color: whitesmoke;
  border-radius: 20px;
}
